<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545443745988-anj0nqh4nliqfa3l4gsq2ki9781dfg5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545443745988-anj0nqh4nliqfa3l4gsq2ki9781dfg5p</string>
	<key>API_KEY</key>
	<string>AIzaSyAzqTpcwFhwXnmR1nrJU30llUjVHor3zVM</string>
	<key>GCM_SENDER_ID</key>
	<string>545443745988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.leoventocilla.lojaFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>loja-flutter-app-d23aa</string>
	<key>STORAGE_BUCKET</key>
	<string>loja-flutter-app-d23aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545443745988:ios:89b695633780315dfdf991</string>
	<key>DATABASE_URL</key>
	<string>https://loja-flutter-app-d23aa.firebaseio.com</string>
</dict>
</plist>